@font-face {
    font-family: icomoon;
    src: url("../fonts/icomoon.woff");
}
/*Base styles
#########################################*/


html {
	height: 100%;
}

body {
	margin: 0px;
}

/*Clearfix*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

span:hover {
	cursor: default;
}

.icon {
	font-family: icomoon;
}

#desktop {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #75BAFF;
	/*initial background*/
	background-image: url("../img/interstellar.jpg");
	background-repeat: none;
	background-size: cover;
	overflow: hidden;
	-webkit-user-select: none;
}

#taskbar {
	position: absolute;
	vertical-align: bottom;
	width: 100%;
	height: 35px;
	background-color: black;
	opacity: .7;
}

#taskmenu {
	height: 100%;
	width: 50px;
	background-color: red;
	opacity: .95;
	font-family: icomoon;
	font-size: 25px;
}

#taskmenu .icon {
	top: 5px;
	left: 12px;
	position: relative;
}

#taskmenu:hover {
	background-color: #FF5555;
	cursor: pointer;
}

#takmenu span:hover {
	cursor: pointer;
}

#taskmenu #desc {
	display: none;
	position: relative;
	top: 2px;
	left: 10px;
	font-size: 18px;
	font-weight: bold;
}

#mainmenu {
	position: relative;
	background-color: black;
	opacity: 1;
	width: 300px;
	display: none;
}

#mainmenu ul {
	color: white;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#mainmenu ul li {
	padding: 10px 10px;
	margin-left: 4px;
}

#mainmenu ul li span.icon {
	font-size: 12px;
	float: right;
	position: relative;
	top: 3px;
	display: none;
	cursor: pointer;
}

#mainmenu ul li span.icon:hover {
	color: black;
}

#mainmenu ul li:hover {
	background-color: gray;
	cursor: pointer;
}

#mainmenu ul li:hover span.icon {
	display: inline;
}


#time {
	color: white;
	margin: 0px;
	padding: 0px;
	width: 100px;
	text-align: center;
    display: none;
}


#time span {
	position: relative;
	top: 10px;
}

.window {
    position: absolute;
    background-color: black;
    opacity: .7;
    width: 300px;
    height: 200px;
    text-align: center;
    overflow: hidden;
}

.window.loaded {
    -webkit-animation-duration: 400ms;
    -webkit-animation-name: loaded;
    -webkit-animation-fill-mode: forwards;
}

.window.minimized {
    -webkit-transition-duration: 250ms;
    -webkit-animation-duration: 400ms;
    -webkit-animation-name: minimized;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes minimized {
/*
    0% {
        -webkit-transform: rotateX(0deg);
    }
    50% {
        -webkit-transform: rotateX(45deg);
    }
*/
    100% {
        -webkit-transform: rotateX(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes maximized {
/*
    0% {
        -webkit-transform: rotateX(0deg);
    }
    50% {
        -webkit-transform: rotateX(45deg);
    }
*/
    100% {
        -webkit-transform: rotateX(0deg);
        opacity: .7;
    }
}

@-webkit-keyframes loaded {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .7;
    }
}

.window-title {
	color: white;
	text-align: center;
	margin: 0px auto;
	top: 5px;
	position: relative;
}

.window-content {
	position: relative;
	padding: 40px -10px -10px -10px;
	width: 100%;
	height: 100%;
	background-color: gray;
	position: absolute;
}

.window-close {
	position: relative;
	color: gray;
	font-family: icomoon;
	top: 7px;
	/*left: 100px;*/
}

.window-close:hover {
	color: white;
	cursor: pointer;
}

#test-r {
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: red;
}

#pgrm-test {
    display: none;
}

button {
    opacity: 1;
}

.CodeMirror {
    text-align: left;
}

h4 {
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.select-box {
	background-color: #1B9AC5;
	border-style: solid;
	border-width: 1px;
	border-color: #1296AD;
}

#program-space {
    position: relative;
}

.program-item {
    display: inline-block;
	height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    color: white;
	background-color: black;
}

.program-item:hover {
    border-radius: 5px;
    cursor: pointer;
	background-color: gray;
}

.program-item span {
    position: relative;
    top: 5px;
    font-size: 20px;
    margin: 0 10px; 
}

#prompt {
	background-color: black;
	color: white;
	font-size: 16px;
}

#prompt-output {
	/*overflow: scroll;*/
}

#prompt span {
	display: block;
}

#prompt input {
	display: block;
	border: none;
	width: 100%;
	background-color: black;
	color: white;
	outline: 0;
}

#cover {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
}

#context-menu {
	background-color: black;
	width: 150px;
	z-index: 1001;
	opacity: .95;
}

#context-menu ul {
	text-decoration: none;
	width: auto;
	margin: 0px;
	padding: 0px;
}

#context-menu ul li {
	color: white;
	list-style-type: none;
	padding: 5px 10px;
	margin: 5px 0px;
	cursor: pointer;
	width: auto;
}

#context-menu ul li:hover {
	background-color: gray;
}

#program-list-container {
	width: 100%;
	height: 100%;
}

#program-list {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	list-style: none;
	overflow-y: scroll;
}

#program-list li {
	height: 35px;
	text-align: left;
	cursor: pointer;
}

#program-list li span {
	top: 7px;
	left: 10px;
	position: relative;
}

#program-list li:hover {
	height: 35px;
	text-align: left;
	background-color: black;
	color: white;
	text-decoration: none;
}

.dialog-button {
	position: relative;
	margin: 0px 40px;
	vertical-align: bottom;
	top: 50px;
	padding: 4px 6px;
}

.jos-popup {
    position: absolute;
    height: auto;
    background-color: DarkSlateGray;
    border-radius: 5px;
    opacity: .5;
    width: 200px;
/*    visibility: hidden;*/
	transition: bottom 400ms;
}

.jos-popup p {
    over-wrap: break-word;
    margin: 10px 10px;
    color: white;
/*    opacity: 1;*/
}

#popup-pane {
    height: 100%;
    width: 202px;
    float: right;
    position: relative;
    bottom: 35px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}*/
 
::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
    background-color: darkgrey;
    border-radius: 2px;
}

/*
##### Mobile Styles
###########################################*/

@media screen and (max-width: 600px) {
    #taskmenu, #mainmenu {
        display: none;
    }
}